#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

# Do not enable the timer by default - let the user decide when to enable it
override_dh_installsystemd:
	dh_installsystemd --no-enable

# Do not start the timer by default
override_dh_installsystemd_start:
	dh_installsystemd --no-start

